.card {
    border-radius: 10px;
}

.card-item {
    width: 100%;
}

@media (min-width: 576px) {
    .card-item {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .card-item {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .card-item {
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .card-item {
        width: 20%;
    }
}