.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #001529;
  z-index: 1000;
  display: flex;
  justify-content: space-around;

  .ant-menu-horizontal {
    line-height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .ant-menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  .ant-menu-item a {
    color: #fff;
  }

  .ant-menu-dark .ant-menu-item-selected {
    background-color: #1890ff;
  }
}
