* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.bottom-nav {
  position: fixed;
  bottom: 20px; /* 将导航栏上移 */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  position: relative;
  width: 80%; /* 设置导航栏宽度为80% */
  border: none;
  border-radius: 10em;
  display: flex;
  list-style: none;
  background: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  padding: 5px; /* 压缩高度 */
  margin: 0 auto; /* 确保导航栏在其父容器内居中 */
  justify-content: space-around; /* 使导航项在导航栏内均匀分布 */
}

#nav li {
  flex: 1;
  text-align: center;
}

#nav li a {
  position: relative;
  padding: 10px 15px; /* 压缩高度和宽度 */
  font: 500 12px '优设标题黑'; /* 缩小字体 */
  border: none;
  outline: none;
  color: rgb(70, 100, 180);
  display: inline-block;
  text-decoration: none;
  z-index: 3;
  text-align: center; /* 确保文字居中 */
}

.slide1,
.slide2 {
  position: absolute;
  display: inline-block;
  height: 30px; /* 压缩高度 */
  border-radius: 10em;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
  left: 0; /* 确保初始值 */
  width: 0; /* 确保初始值 */
}

.slide1 {
  background-color: rgb(170, 190, 255);
  z-index: 2;
}

.slide2 {
  opacity: 0;
  background-color: rgba(170, 190, 255, 0.5);
  z-index: 1;
  box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
  transform: scale(0.9);
}

/* Media Queries */
@media (min-width: 480px) {
  #nav li a {
    padding: 12px 20px; /* 调整填充 */
    font-size: 14px; /* 调整字体大小 */
  }

  .slide1,
  .slide2 {
    height: 35px; /* 调整高度 */
  }
}

@media (min-width: 768px) {
  #nav li a {
    padding: 14px 25px; /* 调整填充 */
    font-size: 16px; /* 调整字体大小 */
  }

  .slide1,
  .slide2 {
    height: 40px; /* 调整高度 */
  }
}

@media (min-width: 1024px) {
  #nav li a {
    padding: 12px 30px; /* 调整填充 */
    font-size: 18px; /* 调整字体大小 */
  }

  .slide1,
  .slide2 {
    height: 45px; /* 调整高度 */
  }
}
